bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/DapperCourse/FileContentIndex
/.vs/DapperCourse/DesignTimeBuild
/.vs/DapperCourse/v17/TestStore/0
/.vs/DapperCourseSt/v17
/.vs/DapperCourse/v17/.suo
/.vs/DapperCourse/v17/.futdcache.v2
/.vs/ProjectEvaluation
