bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/DapperCourse/FileContentIndex
/.vs/DapperCourse/DesignTimeBuild
/.vs/DapperCourse/v17/TestStore/0
/.vs/DapperCourseSt/v17
/.vs/DapperCourse/v17/.suo
/.vs/DapperCourse/v17/.futdcache.v2
/.vs/ProjectEvaluation
/.vs/DapperCourse/copilot-chat/c375af09/V0_08b2be54-1799-4313-b2dc-f49fa0589087_Default
/.vs/DapperCourse/v17/DocumentLayout.json
