################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DapperCourseTests/.vs
/DapperCourseTests/bin/Debug/net8.0
/DapperCourseTests/obj/Debug/net8.0
/DapperCourseTests/obj/Release/net8.0
/DapperCourseTests/obj/DapperCourseTests.csproj.nuget.dgspec.json
/DapperCourseTests/obj/DapperCourseTests.csproj.nuget.g.props
/DapperCourseTests/obj/DapperCourseTests.csproj.nuget.g.targets
/DapperCourseTests/obj/project.assets.json
/DapperCourseTests/obj/
/.idea
